@using Client.Models.DTO

@{
    var info = ViewBag.Staff as AccountStaff;
    ViewBag.Title = Layout;
}

<div class="container">
    <div class="m-3">
        <div class="row container">
            <div class="card m-1 col-3 mx-auto">
                <div class="card-body">
                    <h4 class="card-title text-center"> <i class="fa  fa-bar-chart m-auto "> </i>Total Money:</h4>
                    <p class="card-text text-center">@ViewBag.TotalMoney</p>
                </div>
            </div>
            <a class="card m-1 col-3 btn btn-danger bg-danger mx-auto" href="https://mail.google.com/mail/u/0/">
                <div class="card-body ">
                    <h4 class="card-title text-center">  <i class="fa fa-inbox m-2 "> </i>Gmail:</h4>
                </div>
            </a>
            <div class="card m-1 col-3 btn btn-success bg-success mx-auto">
                <div class="card-body">
                    <h4 class="card-title text-center">  <i class="fa fa-file-excel-o  m-auto "> </i>Excel:</h4>
                </div>
            </div>
        </div>
        <div class="row container-fluid " id="reload">
           
        </div>
    </div>
</div>
<script>
    setInterval(function () {
        $('#reload').load('/Admin/OrderAccept')
    },1000)
</script>